<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
    integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><%= title %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Stickers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contribute</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Patron</a>
          <li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search Strickers" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="jumbotron text-center">
      <h1>Festival Stickers</h1>
      <p>Download and share all the indian festival stickers all in one single place.
    </div>
  </header>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-3"> <img src="images/festivals/diwali/1.png" class="img-thumbnail"> </div>
        <div class="col-sm-3"><img src="images/festivals/diwali/2.png" class="img-thumbnail"> </div>
        <div class="col-sm-3"><img src="images/festivals/diwali/3.png" class="img-thumbnail"> </div>
        <div class="col-sm-3"> <img src="images/festivals/diwali/4.png" class="img-thumbnail"> </div>
      </div>
      <div class="row">
        <div class="col-sm-3"> <img src="images/festivals/diwali/5.png" class="img-thumbnail"> </div>
        <div class="col-sm-3"><img src="images/festivals/diwali/6.png" class="img-thumbnail"> </div>
        <div class="col-sm-3"><img src="images/festivals/diwali/7.png" class="img-thumbnail"> </div>
        <div class="col-sm-3"> <img src="images/festivals/diwali/8.png" class="img-thumbnail"> </div>
      </div>
      <div class="row">
        <div class="col-sm-3"> <img src="images/festivals/diwali/9.png" class="img-thumbnail"> </div>
        <div class="col-sm-3"><img src="images/festivals/diwali/10.png" class="img-thumbnail"> </div>
        <div class="col-sm-3"><img src="images/festivals/diwali/11.png" class="img-thumbnail"> </div>
        <div class="col-sm-3"> <img src="images/festivals/hanuman_jayanti/1.png" class="img-thumbnail"> </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="jumbotron text-center">
      © Festival Stickers 2019
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
    integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous">
  </script>

</body>

</html>